head 
body 
    h1 Opgave 15.3
    table 
        each values in data.results 
            tr 
                td Navn: #{values.name.first}  #{values.name.last} Email: #{values.email} 
  
    
        