html
    head
        title Express-app 3
        script(src='index.js')
    body
        h1 SPM3 - Express-app 3
        input(placeholder='Name' id='name')
        input(placeholder='Address' id='address')
        button(id= 'button' onclick='add()') Add
        ul#people