table, td {
    border-collapse: collapse;
    height: 200px;
    width: 200px;
    border: 3px solid blue;
}

td{
    max-height: 200px;
    max-width: 200px;
}

img{
    max-width: 200px;
    max-height: 200px;
}
h1{
    color: blue;
}

a{
    font-size: larger;
    color: blue;
    text-align: center;
}